h1{
	text-align: center;
	color:white;
}
#d0{
	background-color: #000;
	border:2px solid white;
}#d1{
	background-color: #001;
	border:2px solid white;
}#d2{
	background-color: #002;
	border:2px solid white;
}#d3{
	background-color: #003;
	border:2px solid white;
}#d4{
	background-color: #004;
	border:2px solid white;
}#d5{
	background-color: #005;
	border:2px solid white;
}#d6{
	background-color: #006;
	border:2px solid white;
}#d7{
	background-color: #007;
	border:2px solid white;
}#d8{
	background-color: #008;
	border:2px solid white;
}#d9{
	background-color: #009;
	border:2px solid white;
}#d10{
	background-color: #00a;
	border:2px solid white;
}#d11{
	background-color: #00b;
	border:2px solid white;
}#d12{
	background-color: #00c;
	border:2px solid white;
}#d13{
	background-color: #00d;
	border:2px solid white;
}#d14{
	background-color: #00e;
	border:2px solid white;
}#d15{
	background-color: #00f;
	border:2px solid white;
}#d16{
	background-color: #010;
	border:2px solid white;
}#d17{
	background-color: #011;
	border:2px solid white;
}#d18{
	background-color: #012;
	border:2px solid white;
}#d19{
	background-color: #013;
	border:2px solid white;
}#d20{
	background-color: #014;
	border:2px solid white;
}#d21{
	background-color: #015;
	border:2px solid white;
}#d22{
	background-color: #016;
	border:2px solid white;
}#d23{
	background-color: #017;
	border:2px solid white;
}#d24{
	background-color: #018;
	border:2px solid white;
}#d25{
	background-color: #019;
	border:2px solid white;
}#d26{
	background-color: #01a;
	border:2px solid white;
}#d27{
	background-color: #01b;
	border:2px solid white;
}#d28{
	background-color: #01c;
	border:2px solid white;
}#d29{
	background-color: #01d;
	border:2px solid white;
}#d30{
	background-color: #01e;
	border:2px solid white;
}#d31{
	background-color: #01f;
	border:2px solid white;
}#d32{
	background-color: #020;
	border:2px solid white;
}#d33{
	background-color: #021;
	border:2px solid white;
}#d34{
	background-color: #022;
	border:2px solid white;
}#d35{
	background-color: #023;
	border:2px solid white;
}#d36{
	background-color: #024;
	border:2px solid white;
}#d37{
	background-color: #025;
	border:2px solid white;
}#d38{
	background-color: #026;
	border:2px solid white;
}#d39{
	background-color: #027;
	border:2px solid white;
}#d40{
	background-color: #028;
	border:2px solid white;
}#d41{
	background-color: #029;
	border:2px solid white;
}#d42{
	background-color: #02a;
	border:2px solid white;
}#d43{
	background-color: #02b;
	border:2px solid white;
}#d44{
	background-color: #02c;
	border:2px solid white;
}#d45{
	background-color: #02d;
	border:2px solid white;
}#d46{
	background-color: #02e;
	border:2px solid white;
}#d47{
	background-color: #02f;
	border:2px solid white;
}#d48{
	background-color: #030;
	border:2px solid white;
}#d49{
	background-color: #031;
	border:2px solid white;
}
#d50{
	background-color: #032;
	border:2px solid white;
}#d51{
	background-color: #033;
	border:2px solid white;
}#d52{
	background-color: #034;
	border:2px solid white;
}#d53{
	background-color: #035;
	border:2px solid white;
}#d54{
	background-color: #036;
	border:2px solid white;
}#d55{
	background-color: #037;
	border:2px solid white;
}#d56{
	background-color: #038;
	border:2px solid white;
}#d57{
	background-color: #039;
	border:2px solid white;
}#d58{
	background-color: #03a;
	border:2px solid white;
}#d59{
	background-color: #03b;
	border:2px solid white;
}#d60{
	background-color: #03c;
	border:2px solid white;
}#d61{
	background-color: #03d;
	border:2px solid white;
}#d62{
	background-color: #03e;
	border:2px solid white;
}#d63{
	background-color: #03f;
	border:2px solid white;
}#d64{
	background-color: #040;
	border:2px solid white;
}#d65{
	background-color: #041;
	border:2px solid white;
}#d66{
	background-color: #042;
	border:2px solid white;
}#d67{
	background-color: #043;
	border:2px solid white;
}#d68{
	background-color: #044;
	border:2px solid white;
}#d69{
	background-color: #045;
	border:2px solid white;
}#d70{
	background-color: #046;
	border:2px solid white;
}#d71{
	background-color: #047;
	border:2px solid white;
}#d72{
	background-color: #048;
	border:2px solid white;
}#d73{
	background-color: #049;
	border:2px solid white;
}#d74{
	background-color: #04a;
	border:2px solid white;
}#d75{
	background-color: #04b;
	border:2px solid white;
}#d76{
	background-color: #04c;
	border:2px solid white;
}#d77{
	background-color: #04d;
	border:2px solid white;
}#d78{
	background-color: #04e;
	border:2px solid white;
}#d79{
	background-color: #04f;
	border:2px solid white;
}#d80{
	background-color: #050;
	border:2px solid white;
}#d81{
	background-color: #051;
	border:2px solid white;
}#d82{
	background-color: #052;
	border:2px solid white;
}#d83{
	background-color: #053;
	border:2px solid white;
}#d84{
	background-color: #054;
	border:2px solid white;
}#d85{
	background-color: #055;
	border:2px solid white;
}#d86{
	background-color: #056;
	border:2px solid white;
}#d87{
	background-color: #057;
	border:2px solid white;
}#d88{
	background-color: #058;
	border:2px solid white;
}#d89{
	background-color: #059;
	border:2px solid white;
}#d90{
	background-color: #05a;
	border:2px solid white;
}#d91{
	background-color: #05b;
	border:2px solid white;
}#d92{
	background-color: #05c;
	border:2px solid white;
}#d93{
	background-color: #05d;
	border:2px solid white;
}#d94{
	background-color: #05e;
	border:2px solid white;
}#d95{
	background-color: #05f;
	border:2px solid white;
}#d96{
	background-color: #060;
	border:2px solid white;
}#d97{
	background-color: #061;
	border:2px solid white;
}#d98{
	background-color: #062;
	border:2px solid white;
}#d99{
	background-color: #063;
	border:2px solid white;
}#d100{
	background-color: #064;
	border:2px solid white;
}#d101{
	background-color: #065;
	border:2px solid white;
}