h1{
	text-align: center;
	color:white;
}
#d0{
	background-color: #000;
	border:2px solid white;
}#d1{
	background-color: #001;
	border:2px solid white;
}#d2{
	background-color: #002;
	border:2px solid white;
}#d3{
	background-color: #003;
	border:2px solid white;
}#d4{
	background-color: #004;
	border:2px solid white;
}#d5{
	background-color: #005;
	border:2px solid white;
}#d6{
	background-color: #006;
	border:2px solid white;
}#d7{
	background-color: #007;
	border:2px solid white;
}#d8{
	background-color: #008;
	border:2px solid white;
}#d9{
	background-color: #009;
	border:2px solid white;
}#d10{
	background-color: #00a;
	border:2px solid white;
}#d11{
	background-color: #00b;
	border:2px solid white;
}#d12{
	background-color: #00c;
	border:2px solid white;
}#d13{
	background-color: #00d;
	border:2px solid white;
}#d14{
	background-color: #00e;
	border:2px solid white;
}#d15{
	background-color: #00f;
	border:2px solid white;
}#d16{
	background-color: #010;
	border:2px solid white;
}#d17{
	background-color: #011;
	border:2px solid white;
}#d18{
	background-color: #012;
	border:2px solid white;
}#d19{
	background-color: #013;
	border:2px solid white;
}#d20{
	background-color: #014;
	border:2px solid white;
}#d21{
	background-color: #015;
	border:2px solid white;
}#d22{
	background-color: #016;
	border:2px solid white;
}#d23{
	background-color: #017;
	border:2px solid white;
}#d24{
	background-color: #018;
	border:2px solid white;
}#d25{
	background-color: #019;
	border:2px solid white;
}#d26{
	background-color: #01a;
	border:2px solid white;
}#d27{
	background-color: #01b;
	border:2px solid white;
}#d28{
	background-color: #01c;
	border:2px solid white;
}#d29{
	background-color: #01d;
	border:2px solid white;
}#d30{
	background-color: #01e;
	border:2px solid white;
}#d31{
	background-color: #01f;
	border:2px solid white;
}#d32{
	background-color: #020;
	border:2px solid white;
}#d33{
	background-color: #021;
	border:2px solid white;
}#d34{
	background-color: #022;
	border:2px solid white;
}#d35{
	background-color: #023;
	border:2px solid white;
}#d36{
	background-color: #024;
	border:2px solid white;
}#d37{
	background-color: #025;
	border:2px solid white;
}#d38{
	background-color: #026;
	border:2px solid white;
}#d39{
	background-color: #027;
	border:2px solid white;
}#d40{
	background-color: #028;
	border:2px solid white;
}#d41{
	background-color: #029;
	border:2px solid white;
}#d42{
	background-color: #02a;
	border:2px solid white;
}#d43{
	background-color: #02b;
	border:2px solid white;
}#d44{
	background-color: #02c;
	border:2px solid white;
}#d45{
	background-color: #02d;
	border:2px solid white;
}#d46{
	background-color: #02e;
	border:2px solid white;
}#d47{
	background-color: #02f;
	border:2px solid white;
}#d48{
	background-color: #030;
	border:2px solid white;
}#d49{
	background-color: #031;
	border:2px solid white;
}
#d50{
	background-color: #032;
	border:2px solid white;
}#d51{
	background-color: #033;
	border:2px solid white;
}#d52{
	background-color: #034;
	border:2px solid white;
}#d53{
	background-color: #035;
	border:2px solid white;
}#d54{
	background-color: #036;
	border:2px solid white;
}#d55{
	background-color: #037;
	border:2px solid white;
}#d56{
	background-color: #038;
	border:2px solid white;
}#d57{
	background-color: #039;
	border:2px solid white;
}#d58{
	background-color: #03a;
	border:2px solid white;
}#d59{
	background-color: #03b;
	border:2px solid white;
}#d60{
	background-color: #03c;
	border:2px solid white;
}#d61{
	background-color: #03d;
	border:2px solid white;
}#d62{
	background-color: #03e;
	border:2px solid white;
}#d63{
	background-color: #03f;
	border:2px solid white;
}#d64{
	background-color: #040;
	border:2px solid white;
}#d65{
	background-color: #041;
	border:2px solid white;
}#d66{
	background-color: #042;
	border:2px solid white;
}#d67{
	background-color: #043;
	border:2px solid white;
}#d68{
	background-color: #044;
	border:2px solid white;
}#d69{
	background-color: #045;
	border:2px solid white;
}#d70{
	background-color: #046;
	border:2px solid white;
}#d71{
	background-color: #047;
	border:2px solid white;
}#d72{
	background-color: #048;
	border:2px solid white;
}#d73{
	background-color: #049;
	border:2px solid white;
}#d74{
	background-color: #04a;
	border:2px solid white;
}#d75{
	background-color: #04b;
	border:2px solid white;
}#d76{
	background-color: #04c;
	border:2px solid white;
}#d77{
	background-color: #04d;
	border:2px solid white;
}#d78{
	background-color: #04e;
	border:2px solid white;
}#d79{
	background-color: #04f;
	border:2px solid white;
}#d80{
	background-color: #050;
	border:2px solid white;
}#d81{
	background-color: #051;
	border:2px solid white;
}#d82{
	background-color: #052;
	border:2px solid white;
}#d83{
	background-color: #053;
	border:2px solid white;
}#d84{
	background-color: #054;
	border:2px solid white;
}#d85{
	background-color: #055;
	border:2px solid white;
}#d86{
	background-color: #056;
	border:2px solid white;
}#d87{
	background-color: #057;
	border:2px solid white;
}#d88{
	background-color: #058;
	border:2px solid white;
}#d89{
	background-color: #059;
	border:2px solid white;
}#d90{
	background-color: #05a;
	border:2px solid white;
}#d91{
	background-color: #05b;
	border:2px solid white;
}#d92{
	background-color: #05c;
	border:2px solid white;
}#d93{
	background-color: #05d;
	border:2px solid white;
}#d94{
	background-color: #05e;
	border:2px solid white;
}#d95{
	background-color: #05f;
	border:2px solid white;
}#d96{
	background-color: #060;
	border:2px solid white;
}#d97{
	background-color: #061;
	border:2px solid white;
}#d98{
	background-color: #062;
	border:2px solid white;
}#d99{
	background-color: #063;
	border:2px solid white;
}#d100{
	background-color: #064;
	border:2px solid white;
}#d101{
	background-color: #065;
	border:2px solid white;
}#d102{
	background-color: #066;
	border:2px solid white;
}#d103{
	background-color: #067;
	border:2px solid white;
}#d104{
	background-color: #068;
	border:2px solid white;
}#d105{
	background-color: #069;
	border:2px solid white;
}#d106{
	background-color: #06a;
	border:2px solid white;
}#d107{
	background-color: #06b;
	border:2px solid white;
}#d108{
	background-color: #06c;
	border:2px solid white;
}#d109{
	background-color: #06d;
	border:2px solid white;
}#d110{
	background-color: #06e;
	border:2px solid white;
}#d111{
	background-color: #06f;
	border:2px solid white;
}#d112{
	background-color: #070;
	border:2px solid white;
}#d113{
	background-color: #071;
	border:2px solid white;
}#d114{
	background-color: #072;
	border:2px solid white;
}#d115{
	background-color: #073;
	border:2px solid white;
}#d116{
	background-color: #074;
	border:2px solid white;
}#d117{
	background-color: #075;
	border:2px solid white;
}#d118{
	background-color: #076;
	border:2px solid white;
}#d119{
	background-color: #077;
	border:2px solid white;
}#d120{
	background-color: #078;
	border:2px solid white;
}#d121{
	background-color: #079;
	border:2px solid white;
}#d122{
	background-color: #07a;
	border:2px solid white;
}#d123{
	background-color: #07b;
	border:2px solid white;
}#d124{
	background-color: #07c;
	border:2px solid white;
}#d125{
	background-color: #07d;
	border:2px solid white;
}#d126{
	background-color: #07e;
	border:2px solid white;
}#d127{
	background-color: #07f;
	border:2px solid white;
}#d128{
	background-color: #080;
	border:2px solid white;
}#d129{
	background-color: #081;
	border:2px solid white;
}#d130{
	background-color: #082;
	border:2px solid white;
}#d131{
	background-color: #083;
	border:2px solid white;
}#d132{
	background-color: #084;
	border:2px solid white;
}#d133{
	background-color: #085;
	border:2px solid white;
}#d134{
	background-color: #086;
	border:2px solid white;
}#d135{
	background-color: #087;
	border:2px solid white;
}#d136{
	background-color: #088;
	border:2px solid white;
}#d137{
	background-color: #089;
	border:2px solid white;
}#d138{
	background-color: #08a;
	border:2px solid white;
}#d139{
	background-color: #08b;
	border:2px solid white;
}#d140{
	background-color: #08c;
	border:2px solid white;
}#d141{
	background-color: #08d;
	border:2px solid white;
}#d142{
	background-color: #08e;
	border:2px solid white;
}#d143{
	background-color: #08f;
	border:2px solid white;
}#d144{
	background-color: #090;
	border:2px solid white;
}#d145{
	background-color: #091;
	border:2px solid white;
}#d146{
	background-color: #092;
	border:2px solid white;
}#d147{
	background-color: #093;
	border:2px solid white;
}#d148{
	background-color: #094;
	border:2px solid white;
}#d149{
	background-color: #095;
	border:2px solid white;
}#d150{
	background-color: #096;
	border:2px solid white;
}#d151{
	background-color: #097;
	border:2px solid white;
}#d152{
	background-color: #098;
	border:2px solid white;
}#d153{
	background-color: #099;
	border:2px solid white;
}#d154{
	background-color: #09a;
	border:2px solid white;
}#d155{
	background-color: #09b;
	border:2px solid white;
}#d156{
	background-color: #09c;
	border:2px solid white;
}#d157{
	background-color: #09d;
	border:2px solid white;
}#d158{
	background-color: #09e;
	border:2px solid white;
}#d159{
	background-color: #09f;
	border:2px solid white;
}#d160{
	background-color: #0a0;
	border:2px solid white;
}#d161{
	background-color: #0a1;
	border:2px solid white;
}#d162{
	background-color: #0a2;
	border:2px solid white;
}#d163{
	background-color: #0a3;
	border:2px solid white;
}#d164{
	background-color: #0a4;
	border:2px solid white;
}#d165{
	background-color: #0a5;
	border:2px solid white;
}#d166{
	background-color: #0a6;
	border:2px solid white;
}#d167{
	background-color: #0a7;
	border:2px solid white;
}#d168{
	background-color: #0a8;
	border:2px solid white;
}#d169{
	background-color: #0a9;
	border:2px solid white;
}#d170{
	background-color: #0aa;
	border:2px solid white;
}#d171{
	background-color: #0ab;
	border:2px solid white;
}#d172{
	background-color: #0ac;
	border:2px solid white;
}#d173{
	background-color: #0ad;
	border:2px solid white;
}#d174{
	background-color: #0ae;
	border:2px solid white;
}#d175{
	background-color: #0af;
	border:2px solid white;
}#d176{
	background-color: #0b0;
	border:2px solid white;
}#d177{
	background-color: #0b1;
	border:2px solid white;
}#d178{
	background-color: #0b2;
	border:2px solid white;
}#d179{
	background-color: #0b3;
	border:2px solid white;
}#d180{
	background-color: #0b4;
	border:2px solid white;
}#d181{
	background-color: #0b5;
	border:2px solid white;
}#d182{
	background-color: #0b6;
	border:2px solid white;
}#d183{
	background-color: #0b7;
	border:2px solid white;
}#d184{
	background-color: #0b8;
	border:2px solid white;
}#d185{
	background-color: #0b9;
	border:2px solid white;
}#d186{
	background-color: #0ba;
	border:2px solid white;
}#d187{
	background-color: #0bb;
	border:2px solid white;
}#d188{
	background-color: #0bc;
	border:2px solid white;
}#d189{
	background-color: #0bd;
	border:2px solid white;
}#d190{
	background-color: #0be;
	border:2px solid white;
}#d191{
	background-color: #0bf;
	border:2px solid white;
}#d192{
	background-color: #0c0;
	border:2px solid white;
}#d193{
	background-color: #0c1;
	border:2px solid white;
}#d194{
	background-color: #0c2;
	border:2px solid white;
}#d195{
	background-color: #0c3;
	border:2px solid white;
}#d196{
	background-color: #0c4;
	border:2px solid white;
}#d197{
	background-color: #0c5;
	border:2px solid white;
}#d198{
	background-color: #0c6;
	border:2px solid white;
}#d199{
	background-color: #0c7;
	border:2px solid white;
}#d200{
	background-color: #0c8;
	border:2px solid white;
}#d201{
	background-color: #0c9;
	border:2px solid white;
}#d202{
	background-color: #0ca;
	border:2px solid white;
}#d203{
	background-color: #0cb;
	border:2px solid white;
}#d204{
	background-color: #0cc;
	border:2px solid white;
}#d205{
	background-color: #0cd;
	border:2px solid white;
}#d206{
	background-color: #0ce;
	border:2px solid white;
}#d207{
	background-color: #0cf;
	border:2px solid white;
}#d208{
	background-color: #0d0;
	border:2px solid white;
}#d209{
	background-color: #0d1;
	border:2px solid white;
}#d210{
	background-color: #0d2;
	border:2px solid white;
}#d211{
	background-color: #0d3;
	border:2px solid white;
}#d212{
	background-color: #0d4;
	border:2px solid white;
}#d213{
	background-color: #0d5;
	border:2px solid white;
}#d214{
	background-color: #0d6;
	border:2px solid white;
}#d215{
	background-color: #0d7;
	border:2px solid white;
}#d216{
	background-color: #0d8;
	border:2px solid white;
}#d217{
	background-color: #0d9;
	border:2px solid white;
}#d218{
	background-color: #0da;
	border:2px solid white;
}#d219{
	background-color: #0db;
	border:2px solid white;
}#d220{
	background-color: #0dc;
	border:2px solid white;
}#d221{
	background-color: #0dd;
	border:2px solid white;
}#d222{
	background-color: #0de;
	border:2px solid white;
}#d223{
	background-color: #0df;
	border:2px solid white;
}#d224{
	background-color: #0e0;
	border:2px solid white;
}#d225{
	background-color: #0e1;
	border:2px solid white;
}#d226{
	background-color: #0e2;
	border:2px solid white;
}#d227{
	background-color: #0e3;
	border:2px solid white;
}#d228{
	background-color: #0e4;
	border:2px solid white;
}#d229{
	background-color: #0e5;
	border:2px solid white;
}#d230{
	background-color: #0e6;
	border:2px solid white;
}#d231{
	background-color: #0e7;
	border:2px solid white;
}#d232{
	background-color: #0e8;
	border:2px solid white;
}#d233{
	background-color: #0e9;
	border:2px solid white;
}#d234{
	background-color: #0ea;
	border:2px solid white;
}#d235{
	background-color: #0eb;
	border:2px solid white;
}#d236{
	background-color: #0ec;
	border:2px solid white;
}#d237{
	background-color: #0ed;
	border:2px solid white;
}#d238{
	background-color: #0ee;
	border:2px solid white;
}#d239{
	background-color: #0ef;
	border:2px solid white;
}#d240{
	background-color: #0f0;
	border:2px solid white;
}#d241{
	background-color: #0f1;
	border:2px solid white;
}#d242{
	background-color: #0f2;
	border:2px solid white;
}#d243{
	background-color: #0f3;
	border:2px solid white;
}#d244{
	background-color: #0f4;
	border:2px solid white;
}#d245{
	background-color: #0f5;
	border:2px solid white;
}#d246{
	background-color: #0f6;
	border:2px solid white;
}#d247{
	background-color: #0f7;
	border:2px solid white;
}#d248{
	background-color: #0f8;
	border:2px solid white;
}#d249{
	background-color: #0f9;
	border:2px solid white;
}#d250{
	background-color: #0fa;
	border:2px solid white;
}#d251{
	background-color: #0fb;
	border:2px solid white;
}#d252{
	background-color: #0fc;
	border:2px solid white;
}#d253{
	background-color: #0fd;
	border:2px solid white;
}#d254{
	background-color: #0fe;
	border:2px solid white;
}#d255{
	background-color: #0ff;
	border:2px solid white;
}
#rd0{
	background-color: #100;
	border:2px solid white;
}#rd1{
	background-color: #101;
	border:2px solid white;
}#rd2{
	background-color: #102;
	border:2px solid white;
}#rd3{
	background-color: #103;
	border:2px solid white;
}#rd4{
	background-color: #104;
	border:2px solid white;
}#rd5{
	background-color: #105;
	border:2px solid white;
}#rd6{
	background-color: #106;
	border:2px solid white;
}#rd7{
	background-color: #107;
	border:2px solid white;
}#rd8{
	background-color: #108;
	border:2px solid white;
}#rd9{
	background-color: #109;
	border:2px solid white;
}#rd10{
	background-color: #10a;
	border:2px solid white;
}#rd11{
	background-color: #10b;
	border:2px solid white;
}#rd12{
	background-color: #10c;
	border:2px solid white;
}#rd13{
	background-color: #10d;
	border:2px solid white;
}#rd14{
	background-color: #10e;
	border:2px solid white;
}#rd15{
	background-color: #10f;
	border:2px solid white;
}#rd16{
	background-color: #110;
	border:2px solid white;
}#rd17{
	background-color: #111;
	border:2px solid white;
}#rd18{
	background-color: #012;
	border:2px solid white;
}#rd19{
	background-color: #113;
	border:2px solid white;
}#rd20{
	background-color: #114;
	border:2px solid white;
}#rd21{
	background-color: #115;
	border:2px solid white;
}#rd22{
	background-color: #116;
	border:2px solid white;
}#rd23{
	background-color: #117;
	border:2px solid white;
}#rd24{
	background-color: #118;
	border:2px solid white;
}#rd25{
	background-color: #119;
	border:2px solid white;
}#rd26{
	background-color: #11a;
	border:2px solid white;
}#rd27{
	background-color: #11b;
	border:2px solid white;
}#rd28{
	background-color: #11c;
	border:2px solid white;
}#rd29{
	background-color: #11d;
	border:2px solid white;
}#rd30{
	background-color: #11e;
	border:2px solid white;
}#rd31{
	background-color: #11f;
	border:2px solid white;
}#rd32{
	background-color: #120;
	border:2px solid white;
}#rd33{
	background-color: #121;
	border:2px solid white;
}#rd34{
	background-color: #122;
	border:2px solid white;
}#rd35{
	background-color: #123;
	border:2px solid white;
}#rd36{
	background-color: #124;
	border:2px solid white;
}#rd37{
	background-color: #125;
	border:2px solid white;
}#rd38{
	background-color: #126;
	border:2px solid white;
}#rd39{
	background-color: #127;
	border:2px solid white;
}#rd40{
	background-color: #128;
	border:2px solid white;
}#rd41{
	background-color: #129;
	border:2px solid white;
}#rd42{
	background-color: #12a;
	border:2px solid white;
}#rd43{
	background-color: #12b;
	border:2px solid white;
}#rd44{
	background-color: #12c;
	border:2px solid white;
}#rd45{
	background-color: #12d;
	border:2px solid white;
}#rd46{
	background-color: #12e;
	border:2px solid white;
}#rd47{
	background-color: #12f;
	border:2px solid white;
}#rd48{
	background-color: #130;
	border:2px solid white;
}#rd49{
	background-color: #131;
	border:2px solid white;
}#rd50{
	background-color: #132;
	border:2px solid white;
}#rd51{
	background-color: #133;
	border:2px solid white;
}#rd52{
	background-color: #134;
	border:2px solid white;
}#rd53{
	background-color: #135;
	border:2px solid white;
}#rd54{
	background-color: #136;
	border:2px solid white;
}#rd55{
	background-color: #137;
	border:2px solid white;
}#rd56{
	background-color: #138;
	border:2px solid white;
}#rd57{
	background-color: #139;
	border:2px solid white;
}#rd58{
	background-color: #13a;
	border:2px solid white;
}#rd59{
	background-color: #13b;
	border:2px solid white;
}#rd60{
	background-color: #13c;
	border:2px solid white;
}#rd61{
	background-color: #13d;
	border:2px solid white;
}#rd62{
	background-color: #13e;
	border:2px solid white;
}#rd63{
	background-color: #13f;
	border:2px solid white;
}#rd64{
	background-color: #140;
	border:2px solid white;
}#rd65{
	background-color: #141;
	border:2px solid white;
}#rd66{
	background-color: #142;
	border:2px solid white;
}#rd67{
	background-color: #143;
	border:2px solid white;
}#rd68{
	background-color: #144;
	border:2px solid white;
}#rd69{
	background-color: #145;
	border:2px solid white;
}#rd70{
	background-color: #146;
	border:2px solid white;
}#rd71{
	background-color: #147;
	border:2px solid white;
}#rd72{
	background-color: #148;
	border:2px solid white;
}#rd73{
	background-color: #149;
	border:2px solid white;
}#rd74{
	background-color: #14a;
	border:2px solid white;
}#rd75{
	background-color: #14b;
	border:2px solid white;
}#rd76{
	background-color: #14c;
	border:2px solid white;
}#rd77{
	background-color: #14d;
	border:2px solid white;
}#rd78{
	background-color: #14e;
	border:2px solid white;
}#rd79{
	background-color: #14f;
	border:2px solid white;
}#rd80{
	background-color: #150;
	border:2px solid white;
}#rd81{
	background-color: #151;
	border:2px solid white;
}#rd82{
	background-color: #152;
	border:2px solid white;
}#rd83{
	background-color: #153;
	border:2px solid white;
}#rd84{
	background-color: #154;
	border:2px solid white;
}#rd85{
	background-color: #155;
	border:2px solid white;
}#rd86{
	background-color: #156;
	border:2px solid white;
}#rd87{
	background-color: #157;
	border:2px solid white;
}#rd88{
	background-color: #158;
	border:2px solid white;
}#rd89{
	background-color: #159;
	border:2px solid white;
}#rd90{
	background-color: #15a;
	border:2px solid white;
}#rd91{
	background-color: #15b;
	border:2px solid white;
}#rd92{
	background-color: #15c;
	border:2px solid white;
}#rd93{
	background-color: #15d;
	border:2px solid white;
}#rd94{
	background-color: #15e;
	border:2px solid white;
}#rd95{
	background-color: #15f;
	border:2px solid white;
}#rd96{
	background-color: #160;
	border:2px solid white;
}#rd97{
	background-color: #161;
	border:2px solid white;
}#rd98{
	background-color: #162;
	border:2px solid white;
}#rd99{
	background-color: #163;
	border:2px solid white;
}#rd100{
	background-color: #164;
	border:2px solid white;
}#rd101{
	background-color: #165;
	border:2px solid white;
}#rd102{
	background-color: #166;
	border:2px solid white;
}#rd103{
	background-color: #167;
	border:2px solid white;
}#rd104{
	background-color: #168;
	border:2px solid white;
}#rd105{
	background-color: #169;
	border:2px solid white;
}#rd106{
	background-color: #16a;
	border:2px solid white;
}#rd107{
	background-color: #16b;
	border:2px solid white;
}#rd108{
	background-color: #16c;
	border:2px solid white;
}#rd109{
	background-color: #16d;
	border:2px solid white;
}#rd110{
	background-color: #16e;
	border:2px solid white;
}#rd111{
	background-color: #16f;
	border:2px solid white;
}#rd112{
	background-color: #170;
	border:2px solid white;
}#rd113{
	background-color: #171;
	border:2px solid white;
}#rd114{
	background-color: #172;
	border:2px solid white;
}#rd115{
	background-color: #173;
	border:2px solid white;
}#rd116{
	background-color: #174;
	border:2px solid white;
}#rd117{
	background-color: #175;
	border:2px solid white;
}#rd118{
	background-color: #176;
	border:2px solid white;
}#rd119{
	background-color: #177;
	border:2px solid white;
}#rd120{
	background-color: #178;
	border:2px solid white;
}#rd121{
	background-color: #179;
	border:2px solid white;
}#rd122{
	background-color: #17a;
	border:2px solid white;
}#rd123{
	background-color: #17b;
	border:2px solid white;
}#rd124{
	background-color: #17c;
	border:2px solid white;
}#rd125{
	background-color: #17d;
	border:2px solid white;
}#rd126{
	background-color: #17e;
	border:2px solid white;
}#rd127{
	background-color: #17f;
	border:2px solid white;
}#rd128{
	background-color: #180;
	border:2px solid white;
}#rd129{
	background-color: #181;
	border:2px solid white;
}#rd130{
	background-color: #182;
	border:2px solid white;
}#rd131{
	background-color: #183;
	border:2px solid white;
}#rd132{
	background-color: #184;
	border:2px solid white;
}#rd133{
	background-color: #185;
	border:2px solid white;
}#rd134{
	background-color: #186;
	border:2px solid white;
}#rd135{
	background-color: #187;
	border:2px solid white;
}#rd136{
	background-color: #188;
	border:2px solid white;
}#rd137{
	background-color: #189;
	border:2px solid white;
}#rd138{
	background-color: #18a;
	border:2px solid white;
}#rd139{
	background-color: #18b;
	border:2px solid white;
}#rd140{
	background-color: #18c;
	border:2px solid white;
}#rd141{
	background-color: #18d;
	border:2px solid white;
}#rd142{
	background-color: #18e;
	border:2px solid white;
}#rd143{
	background-color: #18f;
	border:2px solid white;
}#rd144{
	background-color: #190;
	border:2px solid white;
}#rd145{
	background-color: #191;
	border:2px solid white;
}#rd146{
	background-color: #192;
	border:2px solid white;
}#rd147{
	background-color: #193;
	border:2px solid white;
}#rd148{
	background-color: #194;
	border:2px solid white;
}#rd149{
	background-color: #195;
	border:2px solid white;
}#rd150{
	background-color: #196;
	border:2px solid white;
}#rd151{
	background-color: #197;
	border:2px solid white;
}#rd152{
	background-color: #198;
	border:2px solid white;
}#rd153{
	background-color: #199;
	border:2px solid white;
}#rd154{
	background-color: #19a;
	border:2px solid white;
}#rd155{
	background-color: #19b;
	border:2px solid white;
}#rd156{
	background-color: #19c;
	border:2px solid white;
}#rd157{
	background-color: #19d;
	border:2px solid white;
}#rd158{
	background-color: #19e;
	border:2px solid white;
}#rd159{
	background-color: #19f;
	border:2px solid white;
}#rd160{
	background-color: #1a0;
	border:2px solid white;
}#rd161{
	background-color: #1a1;
	border:2px solid white;
}#rd162{
	background-color: #1a2;
	border:2px solid white;
}#rd163{
	background-color: #1a3;
	border:2px solid white;
}#rd164{
	background-color: #1a4;
	border:2px solid white;
}#rd165{
	background-color: #1a5;
	border:2px solid white;
}#rd166{
	background-color: #1a6;
	border:2px solid white;
}#rd167{
	background-color: #1a7;
	border:2px solid white;
}#rd168{
	background-color: #1a8;
	border:2px solid white;
}#rd169{
	background-color: #1a9;
	border:2px solid white;
}#rd170{
	background-color: #1aa;
	border:2px solid white;
}#rd171{
	background-color: #1ab;
	border:2px solid white;
}#rd172{
	background-color: #1ac;
	border:2px solid white;
}#rd173{
	background-color: #1ad;
	border:2px solid white;
}#rd174{
	background-color: #1ae;
	border:2px solid white;
}#rd175{
	background-color: #1af;
	border:2px solid white;
}#rd176{
	background-color: #1b0;
	border:2px solid white;
}#rd177{
	background-color: #1b1;
	border:2px solid white;
}#rd178{
	background-color: #1b2;
	border:2px solid white;
}#rd179{
	background-color: #1b3;
	border:2px solid white;
}#rd180{
	background-color: #1b4;
	border:2px solid white;
}#rd181{
	background-color: #1b5;
	border:2px solid white;
}#rd182{
	background-color: #1b6;
	border:2px solid white;
}#rd183{
	background-color: #1b7;
	border:2px solid white;
}#rd184{
	background-color: #1b8;
	border:2px solid white;
}#rd185{
	background-color: #1b9;
	border:2px solid white;
}#rd186{
	background-color: #1ba;
	border:2px solid white;
}#rd187{
	background-color: #1bb;
	border:2px solid white;
}#rd188{
	background-color: #1bc;
	border:2px solid white;
}#rd189{
	background-color: #1bd;
	border:2px solid white;
}#rd190{
	background-color: #1be;
	border:2px solid white;
}#rd191{
	background-color: #1bf;
	border:2px solid white;
}#rd192{
	background-color: #1c0;
	border:2px solid white;
}#rd193{
	background-color: #1c1;
	border:2px solid white;
}#rd194{
	background-color: #1c2;
	border:2px solid white;
}#rd195{
	background-color: #1c3;
	border:2px solid white;
}#rd196{
	background-color: #1c4;
	border:2px solid white;
}#rd197{
	background-color: #1c5;
	border:2px solid white;
}#rd198{
	background-color: #1c6;
	border:2px solid white;
}#rd199{
	background-color: #1c7;
	border:2px solid white;
}#rd200{
	background-color: #1c8;
	border:2px solid white;
}#rd201{
	background-color: #1c9;
	border:2px solid white;
}#rd202{
	background-color: #1ca;
	border:2px solid white;
}#rd203{
	background-color: #1cb;
	border:2px solid white;
}#rd204{
	background-color: #1cc;
	border:2px solid white;
}#rd205{
	background-color: #1cd;
	border:2px solid white;
}#rd206{
	background-color: #1ce;
	border:2px solid white;
}#rd207{
	background-color: #1cf;
	border:2px solid white;
}#rd208{
	background-color: #1d0;
	border:2px solid white;
}#rd209{
	background-color: #1d1;
	border:2px solid white;
}#rd210{
	background-color: #1d2;
	border:2px solid white;
}#rd211{
	background-color: #1d3;
	border:2px solid white;
}#rd212{
	background-color: #1d4;
	border:2px solid white;
}#rd213{
	background-color: #1d5;
	border:2px solid white;
}#rd214{
	background-color: #1d6;
	border:2px solid white;
}#rd215{
	background-color: #1d7;
	border:2px solid white;
}#rd216{
	background-color: #1d8;
	border:2px solid white;
}#rd217{
	background-color: #1d9;
	border:2px solid white;
}#rd218{
	background-color: #1da;
	border:2px solid white;
}#rd219{
	background-color: #1db;
	border:2px solid white;
}#rd220{
	background-color: #1dc;
	border:2px solid white;
}#rd221{
	background-color: #1dd;
	border:2px solid white;
}#rd222{
	background-color: #1de;
	border:2px solid white;
}#rd223{
	background-color: #1df;
	border:2px solid white;
}#rd224{
	background-color: #1e0;
	border:2px solid white;
}#rd225{
	background-color: #1e1;
	border:2px solid white;
}#rd226{
	background-color: #1e2;
	border:2px solid white;
}#rd227{
	background-color: #1e3;
	border:2px solid white;
}#rd228{
	background-color: #1e4;
	border:2px solid white;
}#rd229{
	background-color: #1e5;
	border:2px solid white;
}#rd230{
	background-color: #1e6;
	border:2px solid white;
}#rd231{
	background-color: #1e7;
	border:2px solid white;
}#rd232{
	background-color: #1e8;
	border:2px solid white;
}#rd233{
	background-color: #1e9;
	border:2px solid white;
}#rd234{
	background-color: #1ea;
	border:2px solid white;
}#rd235{
	background-color: #1eb;
	border:2px solid white;
}#rd236{
	background-color: #1ec;
	border:2px solid white;
}#rd237{
	background-color: #1ed;
	border:2px solid white;
}#rd238{
	background-color: #1ee;
	border:2px solid white;
}#rd239{
	background-color: #1ef;
	border:2px solid white;
}#rd240{
	background-color: #1f0;
	border:2px solid white;
}#rd241{
	background-color: #1f1;
	border:2px solid white;
}#rd242{
	background-color: #1f2;
	border:2px solid white;
}#rd243{
	background-color: #1f3;
	border:2px solid white;
}#rd244{
	background-color: #1f4;
	border:2px solid white;
}#rd245{
	background-color: #1f5;
	border:2px solid white;
}#rd246{
	background-color: #1f6;
	border:2px solid white;
}#rd247{
	background-color: #1f7;
	border:2px solid white;
}#rd248{
	background-color: #1f8;
	border:2px solid white;
}#rd249{
	background-color: #1f9;
	border:2px solid white;
}#rd250{
	background-color: #1fa;
	border:2px solid white;
}#rd251{
	background-color: #1fb;
	border:2px solid white;
}#rd252{
	background-color: #1fc;
	border:2px solid white;
}#rd253{
	background-color: #1fd;
	border:2px solid white;
}#rd254{
	background-color: #1fe;
	border:2px solid white;
}#rd255{
	background-color: #1ff;
	border:2px solid white;
}

